body {
  background-color: black;
  text-align: center ;
}

.App {
  display : flex ;
  justify-content: center;
  align-items:center;
  
}

.calc-wrapper {
  background-color: black;
  width : 400px;
  border-radius: 20px;
  border: solid white 1px;
  padding : 10px;
}

.row {
  display : flex;
  
}